html,
body {
    padding: 0;
    margin: 0;
    background-color: #5989b5;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    color: #7FB3F1;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

input, label {
    margin: 5px 5px;
}

#walletAddress {
    width: 100%;
}

#newOwnerAddress {
    width: 100%;
}

#inputGreet {
    width: 100%;
}
